.skills {
   padding-top: 0;
}

.skills__list {
   display: flex;
   gap: 30px;
}

.skills__item {
   position: relative;
}

.skills__box {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: var(--bgc-wrap);
}

.skills__text {
   padding: 27px 0;
   font-weight: 700;
   color: var(--color-white);
   text-align: center;
   text-transform: uppercase;
}