.socials-list {
   display: flex;
   gap: 10px;
}

.socials-list__item {
   width: 44px;
   height: 44px;
}

.socials-list__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   text-decoration: none;
   border-radius: 50%;
}

.socials-list__icon {
   fill: currentColor;
}