:root {
   --text-color-primary: #212121;
   --text-color-secondary: #757575;
   --color-brand: #2196F3;
   --color-black: #000;
   --color-white: #FFF;
   --color-white-secondary: rgba(255, 255, 255, 0.6);
   --color-icon: #AFB1B8;
   --bgc-primary: #2F303A;
   --bgc-secondary: #F5F4FA;
   --bgc-inverted: #188CE8;
   --bgc-white-icon: rgba(255, 255, 255, 0.1);
   --bgc-wrap: rgba(47, 48, 58, 0.8);
   --bgc-brand: rgba(33, 150, 243, 0.9);
   --bgc-backdrop: rgba(0, 0, 0, 0.2);
   --color-modal-icon: rgba(0, 0, 0, 0.1);
   --color-border: #ECECEC;
   --color-border-secondary: #EEEEEE;
}